[submodule "training"]
	path = training
	url = https://github.com/wannabeyourfriend/p13n-training.git
	branch = main
[submodule "evaluations"]
	path = evaluations
	url = https://github.com/wannabeyourfriend/p13n-eval-harness
	branch = main
